img {
  width: 500px;
  height: 500px;
}

.modal {
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.7);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.close {
  color: black;
  background-color: white;
}

.open {
  color: white;
  background-color: black;
}
